@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  color: #fff;
  font-weight: 400;
  font-family: "Poppins";
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #000;
}

[class*=__conteiner] {
  max-width: 81.0625rem;
  margin: 0rem auto;
  padding: 0rem 0.9375rem;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

body._lock {
  overflow: hidden;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  margin-top: auto;
}

/*========================*/

/*===========header================*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  background-color: #000000;
  padding: 1.5rem 0rem;
}

.header-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__burger {
  display: none;
}

.nav__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 1.25rem;
  padding: 0rem 0.9375rem;
}

.nav__link {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #fff;
  -webkit-transition: -webkit-text-decoration 0.3s;
  transition: -webkit-text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
  transition: text-decoration 0.3s, -webkit-text-decoration 0.3s;
}

.nav__link:hover {
  text-decoration: underline;
}

.header__buttons {
  background: #FFFFFF;
  border-radius: 0.875rem;
  padding: 0.5625rem 1.25rem 0.8125rem 1.25rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__buttons a {
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
  color: #000000;
}

.header__buttons:hover {
  background: inherit;
  border: 0.125rem solid #fff;
}

.header__buttons:hover a {
  color: #fff;
}

.header__fixed {
  padding: 0.75rem 0rem;
  background-color: rgba(0, 0, 0, 0.5607843137);
}

.button {
  background: #FFFFFF;
  border-radius: 0.875rem;
  padding: 0.5625rem 1.25rem 0.8125rem 1.25rem;
}

.button a {
  line-height: 1.25rem;
  letter-spacing: 0.025rem;
  color: #000000;
  -webkit-transition: -webkit-text-decoration 0.3s;
  transition: -webkit-text-decoration 0.3s;
  -o-transition: text-decoration 0.3s;
  transition: text-decoration 0.3s;
  transition: text-decoration 0.3s, -webkit-text-decoration 0.3s;
}

.button a:hover {
  text-decoration: underline;
}

/*==========main__block==============*/

.main {
  margin-top: 5.625rem;
  position: relative;
}

.main-content {
  position: relative;
  z-index: 6;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18.78%, #000000), color-stop(98.53%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%);
  background: linear-gradient(360deg, #000000 18.78%, rgba(0, 0, 0, 0) 98.53%);
}

.main__block {
  padding: 0rem 0rem 4.4375rem 0rem;
  padding-top: 401px;
}

.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main__title h5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #C0C0C0;
}

.main__title h1 {
  font-size: 54px;
  line-height: 3.6875rem;
  margin: 0.0625rem 0rem 1.125rem 0rem;
}

.main__sub-title {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #C0C0C0;
  max-width: 36.25rem;
}

.main-info {
  position: absolute;
  right: 2.5rem;
  bottom: 1.5rem;
}

.main-info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.main-info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
}

.main-info__img h4 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*===========areas=============*/

.araes {
  margin-top: 7rem;
}

.areas__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2.625rem;
}

.araes__block-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.araes__block-title h2 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.625rem;
  text-align: center;
}

.araes__block-sub-title {
  font-weight: 400;
  font-size: 1.4375rem;
  line-height: 1.875rem;
  text-align: center;
  color: #C0C0C0;
  margin-top: 0.9375rem;
}

.araes__body {
  position: relative;
}

.araes__img img {
  max-width: 100%;
}

.araes__title {
  position: absolute;
  padding: 0rem 0.9375rem;
  bottom: 1.875rem;
  left: 0.9375rem;
}

.araes__title h3 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.araes__title p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #C0C0C0;
  max-width: 31.3125rem;
  margin: 0.9375rem 0rem;
}

.araes__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.araes__btn a {
  margin-left: 0.375rem;
}

/*=============fuji================*/

.fuji {
  margin-top: 6.25rem;
}

.fuji__body {
  position: relative;
}

.fuji-img img {
  max-width: 100%;
}

.fuji__title {
  position: absolute;
  right: 3.875rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fuji__title h2 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.fuji__title p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #C0C0C0;
  max-width: 18.625rem;
}

.fuji-info {
  position: absolute;
  right: 2.5rem;
  bottom: 0.75rem;
}

.fuji-info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.fuji-info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
}

.fuji-info__img h4 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

/*==============use__block====================*/

.use__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.use__title {
  margin-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.use__title h5 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #C0C0C0;
}

.use__title h2 {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2rem;
  margin: 0.375rem 0rem 0.875rem 0rem;
}

.use__title p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  max-width: 32.125rem;
  margin-bottom: 1.25rem;
}

.use__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.use__btn a {
  margin-left: 0.375rem;
}

.use__img img {
  max-width: 100%;
}

/*=============monstera__block==============*/

.monstera__block {
  position: relative;
}

.monstera__img img {
  max-width: 100%;
}

.monstera__title {
  position: absolute;
  top: 50%;
  right: 0.9375rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.monstera__title h2 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.monstera__title p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #C0C0C0;
  max-width: 10.8125rem;
}

.fuji-info-conteiner {
  right: 0.3125rem;
}

/*=============client==============*/

.client {
  margin-top: 7.0625rem;
  padding-bottom: 8.75rem;
}

.client__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 6.8125rem;
     -moz-column-gap: 6.8125rem;
          column-gap: 6.8125rem;
  row-gap: 4.375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.client__title h2 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.625rem;
}

.client__title p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #C0C0C0;
  margin: 0.9375rem 0rem 5.125rem 0rem;
}

/*===============nepal__block=================*/

.nepal__block {
  position: relative;
}

.nepal__img img {
  max-width: 100%;
}

.nepal__title {
  position: absolute;
  top: 50%;
  right: 0.9375rem;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nepal__title h2 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.nepal__title p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #C0C0C0;
  max-width: 15.0625rem;
}

.infos__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 0.9375rem;
  right: 0.9375rem;
}

.infos__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.375rem;
}

.infos__body h3 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

/*==========help__block==============*/

.help {
  margin-top: 7.0625rem;
  padding-bottom: 6.25rem;
}

.help__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.help__block h2 {
  font-weight: 400;
  font-size: 2.5rem;
  font-size: 40px;
  line-height: 2.625rem;
  max-width: 48.1875rem;
}

.help__block h3 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #C0C0C0;
  margin: 0.9375rem 0rem 1.375rem 0rem;
}

.help__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__btn a {
  margin-left: 0.375rem;
}

/*=============footer===============*/

.footer__conteiner {
  padding-top: 6.25rem;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.footer__top-logo p {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #C0C0C0;
  padding-right: 0.9375rem;
}

.footer__top-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
}

.top__body-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  margin-right: 6.375rem;
}

.top__body-a h4 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #C0C0C0;
}

.top__body-a a {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #FFFFFF;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.top__body-a a:hover {
  text-decoration: underline;
}

.footer__center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.25rem 0rem;
  margin-top: 2.25rem;
}

.footer__center::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background: #fff;
}

.footer__center::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background: #fff;
}

.footer__center-title {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.footer__center-sub-title {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: #C0C0C0;
  margin-top: 1.25rem;
}

.footer__input {
  position: relative;
}

.footer__input input {
  position: relative;
  background: #F9FAFB;
  border: 0.0625rem solid #E5E7EB;
  border-radius: 0.75rem;
  width: 28.625rem;
  height: 3.25rem;
  z-index: 2;
}

.footer__input img {
  position: absolute;
  right: 0.6875rem;
  top: 0.6875rem;
  z-index: 3;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.9375rem;
  padding: 3.5rem 0rem 6.5rem 0rem;
}

.footer__bottom-title {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-right: 0.9375rem;
  color: #C0C0C0;
}

.footer__bottom-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom-img a {
  -webkit-transform: all 0.3s;
      -ms-transform: all 0.3s;
          transform: all 0.3s;
}

.footer__bottom-img a:hover img {
  -webkit-transform: translateY(-0.3125rem);
      -ms-transform: translateY(-0.3125rem);
          transform: translateY(-0.3125rem);
}

.footer__bottom-img img {
  -webkit-transform: all 0.3s;
      -ms-transform: all 0.3s;
          transform: all 0.3s;
}

@media (max-width: 1312px) {
  .main__block {
    padding-top: calc(221px + 180 * ((100vw - 320px) / 992));
  }

  .main__title h1 {
    font-size: calc(40px + 14 * ((100vw - 320px) / 992));
  }

  .help__block h2 {
    font-size: calc(30px + 10 * ((100vw - 320px) / 992));
  }

  .footer__top-body {
    gap: calc(15px + 40 * ((100vw - 320px) / 992));
  }
}

@media (max-width: 56.25rem) {
  .header__burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 0.3125rem;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    top: 50%;
    -webkit-transform: scale(1) translate(0rem, -50%);
        -ms-transform: scale(1) translate(0rem, -50%);
            transform: scale(1) translate(0rem, -50%);
  }

  .header__burger._active span {
    -webkit-transform: scale(0) translate(0rem, -50%);
        -ms-transform: scale(0) translate(0rem, -50%);
            transform: scale(0) translate(0rem, -50%);
  }

  .header__burger._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0rem, -50%);
        -ms-transform: rotate(-45deg) translate(0rem, -50%);
            transform: rotate(-45deg) translate(0rem, -50%);
  }

  .header__burger._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0rem, 50%);
        -ms-transform: rotate(45deg) translate(0rem, 50%);
            transform: rotate(45deg) translate(0rem, 50%);
  }

  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-100%, 0rem);
        -ms-transform: translate(-100%, 0rem);
            transform: translate(-100%, 0rem);
    background-color: #000;
    padding: 6.25rem 1.875rem 1.875rem 1.875rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-size: 1.5rem;
    overflow: auto;
  }

  .menu__body._active .menu__body::after {
    content: "";
    position: fixed;
    top: 0;
    height: 5.625rem;
    width: 100%;
    background-color: #000000;
  }

  .menu__body._active {
    -webkit-transform: translate(0rem, 0rem);
        -ms-transform: translate(0rem, 0rem);
            transform: translate(0rem, 0rem);
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.5rem;
  }

  .nav__link {
    font-size: 1.6875rem;
  }

  .use__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .use__title {
    margin: 3.75rem 0rem 2.5rem 0.9375rem;
  }

  .use__img {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 48rem) {
  .nepal__img img {
    max-width: none;
  }
}

@media (max-width: 47.9375rem) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__top-logo {
    margin-bottom: 1.875rem;
  }

  .footer__top-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .top__body-a {
    margin-right: 0rem;
  }

  .footer__center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__center-title {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 31.25rem) {
  .fuji-img img {
    max-width: none;
  }

  .monstera__img img {
    max-width: none;
  }
}

@media (max-width: 26.5625rem) {
  .main-info {
    position: absolute;
    top: 1.25rem;
    right: 0.625rem;
  }

  .main-info__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-info__img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main__sub-title {
    font-size: 0.75rem;
  }

  .araes__title p {
    font-size: 0.75rem;
    line-height: 1.1875rem;
  }

  .fuji__title {
    left: 0.9375rem;
  }

  .use__title h2 {
    font-size: 1.5rem;
  }

  .use__title p {
    font-size: 0.75rem;
  }
}